.cell {
    position: relative;
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}

.cell-path {
    background: white;
}

.cell-traversed {
    pointer-events: none;
    animation: .2s ease-in cellTraversedEffect;
    background: rgb(0, 0, 75);
}


@keyframes cellTraversedEffect {
    0% {
        background: rgba(89, 89, 252, 0.57);
        transform: scale(.1);
    }

    100% {
        background: rgba(0, 0, 139, 0.89);
        transform: scale(1);
    }
}

.cell-start {
    background: rgb(0, 136, 0);
    pointer-events: none;

}

.cell-end {
    background: rgb(238, 0, 0);
    pointer-events: none;

}


.cell-wall {
    background: darkgray;
}


.prevent-selecting-third-point {
    pointer-events: none;
}